<h1>Listing posts</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
    <% @posts.each do |post| %>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.text %></td>
            <td><%= link_to 'Show', post_path(post.id) %></td>
            <td><%= link_to 'Edit', edit_post_path(post)%></td>
            <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure' } %></td>
        </tr>
    <% end %>
</table>

<%= link_to 'New post', new_post_path %>

<!--<div id="posts"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Blog.Routers.PostsRouter({posts: <%= @posts.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>-->