<p data-id="<%= id %>">
    <strong><%= title %></strong>
    <span><%= text %></span>
    <a href="/posts/<%= id %>">show</a>
    <a data-id="<%= id %>" data-method="delete" href="/posts/<%= id %>">delete</a>
</p>